body {
  background-image: url(/img/pattern.jpg);
  font-family: "Slabo 27px", serif;
  margin: 0px;
}

.header {
  background-color: white;
  height: 50px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  z-index: 1;
}

.nav-link a {
  list-style: none;
  display: inline-block;
  margin-left: 10px;
  margin-top: 15px;
}

.footer {
  display: flex;
  position: fixed;
  width: 100%;
  bottom: 0px;
  right: 0px;
  left: 0px;
  background-color: black;
  color: white;
  height: 50px;
  justify-content: center;
  align-items: center;
}

.container {
  margin-left: 200px;
  margin-right: 200px;
  background-color: white;
  position: relative;
  top: 70px;
  padding: 20px;
  margin-bottom: 100px;
}

.about-container {
  border: 1px solid black;
}

.login-container {
  width: 200px;
  height: 120px;
  margin-left: 35%;
  margin-top: 20px;
}

.button-login-container {
  margin-top: 10px;
  margin-left: 50%;
}

.error-message-login {
  width: 240px;
  height: 20px;
  border: 2px solid red;
  justify-content: center;
  text-align: center;
  margin-bottom: 15px;
  color: red;
}

.search-container {
  margin-left: 40%;
}

.edit-movie-container {
  width: 550px;
  margin-left: 22%;
  margin-bottom: 20px;
}

.form-container {
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 20px;
  width: 550px;
  margin-left: 22%;
}

.form {
  margin-left: 15px;
  margin-bottom: 15px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

h1 {
  text-align: center;
}
